<head>
  <meta charset="UTF-8">
  <title>Order</title>
      <link rel="stylesheet" href="style-order.css">
</head>
<body>
  <h1>Thank you for your order!</h1>
  <h3>You will receive a receipt to your account email.</h3>
  <h3>Click <span id = "goback">here</span> to return to the login page.</h3>
  <script src="script-order.js"></script>
</body>

